
<form action="/story">
  Animal Image URL
  <input name="picture"><br>
  Animal
  <input name="animal"><br>
  Adjective
  <input name="adjective"><br>
  Body Part
  <input name="body_part"><br>
  Verb
  <input name="verb"><br>
  Place
  <input name="place"><br>
  Number
  <input name="number"><br>
  <button type="submit">Generate Madlib</button>
</form>
