body {
    background-color: #d0e4fe;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
.story{
  font-family: "Lato"
}
